{% extends 'base.html' %}
{% load static %}

{% block title %}Historial Traspasos{% endblock %}

{% block contenido %}
<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Historial de Traspasos</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
                <table  class="table">
                    <tr>
                        <th>Fecha</th>
                        <th>Actividad Remitente</th>
                        <th>Actividad Destino</th>
                        <th>Monto</th>
                    </tr>
                    {% for traspaso in traspasos %}
                    <tr>
                        <td>{{traspaso.creado}}</td>
                        <td>{{traspaso.actividad1}}</td>
                        <td>{{traspaso.actividad2}}</td>
                        <td>${{traspaso.monto}}</td>
                    </tr>
                    </div>
                    {% endfor %}
                </table>
            </div>
          </div>
        </div>
      </div>
      <td>
        <a class="btn btn-primary" href="{% url 'principal:principal' %}">Regresar</a>
    </td>  
  </div>
{% endblock contenido %}

