{% extends 'base.html' %}

{% block title %}Lista Presupuestos{% endblock %}

{% block content %}
    <h1>Listado de Presupuestos</h1>
    <div class="container-fluid"class="shadow-lg p-3 mb-5 bg-white rounded" >
    <table class="table" >
        <tr>
            <th>Año</th>
            <th>Fecha</th>
            <th>Opciones</th>

        </tr>
        {% for presupuesto in presupuestos %}
        <tr>
            <td>{{presupuesto.anio}}</td>
            <td>{{presupuesto.fecha}}</td>
            <td>
               <a class="btn btn-danger" href="{% url 'presupuestos:eliminar' presupuesto.anio %}">Eliminar</a>
                <a class="btn btn-primary" href="{% url 'presupuestos:editar' presupuesto.anio %}">Modificar</a>

            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}

