{% extends 'base.html' %}
{% load static%}

{% block title %}Lista Presupuestos{% endblock %}

{% block contenido %}
 



<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Lista de presupuestos</h4>
        </div>


        <div class="card-body">
          <div class="table-responsive">
            <table class="table" >
        <tr>
            <th>Año</th>
            <th>Fecha</th>
            <th>Opciones</th>

        </tr>
        {% for presupuesto in presupuestos %}
        <tr>
            <td>{{presupuesto.anio}}</td>
            <td>{{presupuesto.fecha}}</td>
            <td>
               <a class="btn btn-danger" href="{% url 'presupuestos:eliminar' presupuesto.anio %}">Eliminar</a>
                <a class="btn btn-primary" href="{% url 'presupuestos:editar' presupuesto.anio %}">Modificar</a>

            </td>
        </tr>
        {% endfor %}
    </table>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-12">
      <div class="card card-plain">
       
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  

{% endblock contenido %}


