{% extends 'base.html' %}

{% load static %}


{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}





{% block contenido %}
  
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Principal</title>

  <link rel="stylesheet" href="{% static 'css/jquery.treegrid.css' %}">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.treegrid.js' %}"></script>


  <script type="text/javascript">
    $(document).ready(function () {
      $('.tree').treegrid();
    });
  </script>
  
  
</head>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Tabla de presupuestos</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="tree table table-hover">
              <tr>
                <th>Elemento</th>
                <th>Enero</th>
                <th>Febrero</th>
                <th>Marzo</th>
                <th>Abril</th>
                <th>Mayo</th>
                <th>Junio</th>
                <th>Julio</th>
                <th>Agosto</th>
                <th>Septiembre</th>
                <th>Octubre</th>
                <th>Noviembre</th>
                <th>Diciembre</th>
                <th>Total</th>
                <th>Acciones</th>

              </tr>
              {% for capitulo in capitulos %}
              <tr class="treegrid-{{capitulo.id}} bg-dark text-white ">
                <td>Capítulo {{capitulo.clave}}</td>
                <td>${{capitulo.total_meses.1}}</td>
                <td>${{capitulo.total_meses.2}}</td>
                <td>${{capitulo.total_meses.3}}</td>
                <td>${{capitulo.total_meses.4}}</td>
                <td>${{capitulo.total_meses.5}}</td>
                <td>${{capitulo.total_meses.6}}</td>
                <td>${{capitulo.total_meses.7}}</td>
                <td>${{capitulo.total_meses.8}}</td>
                <td>${{capitulo.total_meses.9}}</td>
                <td>${{capitulo.total_meses.10}}</td>
                <td>${{capitulo.total_meses.11}}</td>
                <td>${{capitulo.total_meses.12}}</td>
                <td>${{capitulo.total}}</td>
                <td><a href="{% url 'partidas:nueva_especifica' capitulo.clave %}" class="btn btn-success">Agregar</a></td>
              </tr>
              
              {% for partida in capitulo.partidas %}
              <tr class="treegrid-{{partida.id}} treegrid-parent-{{capitulo.id}} table-secondary">
                <td>Partida {{partida.clave}}</td>
                <td>${{partida.total_meses.1}}</td>
                <td>${{partida.total_meses.2}}</td>
                <td>${{partida.total_meses.3}}</td>
                <td>${{partida.total_meses.4}}</td>
                <td>${{partida.total_meses.5}}</td>
                <td>${{partida.total_meses.6}}</td>
                <td>${{partida.total_meses.7}}</td>
                <td>${{partida.total_meses.8}}</td>
                <td>${{partida.total_meses.9}}</td>
                <td>${{partida.total_meses.10}}</td>
                <td>${{partida.total_meses.11}}</td>
                <td>${{partida.total_meses.12}}</td>
                <td>${{partida.total}}</td>
                <td><a href="{% url 'actividades:nueva_especifica' partida.clave %}" class="btn btn-success">Agregar</a></td>
              </tr>
              {% for actividad in partida.actividades %}
              <tr class="treegrid-{{actividad.id}} treegrid-parent-{{partida.id}} ">
                <td>{{actividad.id}}</td>
                <td>${{actividad.meses.1}}</td>
                <td>${{actividad.meses.2}}</td>
                <td>${{actividad.meses.3}}</td>
                <td>${{actividad.meses.4}}</td>
                <td>${{actividad.meses.5}}</td>
                <td>${{actividad.meses.6}}</td>
                <td>${{actividad.meses.7}}</td>
                <td>${{actividad.meses.8}}</td>
                <td>${{actividad.meses.9}}</td>
                <td>${{actividad.meses.10}}</td>
                <td>${{actividad.meses.11}}</td>
                <td>${{actividad.meses.12}}</td>
                <td>${{actividad.total}}</td>
              </tr>
              {% endfor %}
              {% endfor %}
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-12">
      <div class="card card-plain">

        <div class="card-body">
          <div class="table-responsive">
            <table class="table">

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
