{% load static%}


<!DOCTYPE html>
<html lang="en">

  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-treegrid/0.2.0/css/jquery.treegrid.min.css"
      rel="stylesheet">
    <link
      href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css"
      rel="stylesheet">

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-treegrid/0.2.0/js/jquery.treegrid.min.js"></script>
    <script
      src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
    <script
      src="https://unpkg.com/bootstrap-table@1.18.0/dist/extensions/treegrid/bootstrap-table-treegrid.min.js"></script>
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>
      Subsecretaría de Prevención Social del Delíto - Presupuestos
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0,
      user-scalable=0, shrink-to-fit=no'
      name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
      rel="stylesheet" />
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous">
    <!-- CSS Files -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/now-ui-dashboard.min.css' %}"rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>


  <body>
    <div class="wrapper">
      <div class="sidebar" data-color="black">
        <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
        <div class="logo">
          <a href="{% url 'principal:principal'%}"class="simple-text
            logo-normal">
            Finanzas
          </a>
        </div>
        <div class="sidebar-wrapper" id="sidebar-wrapper">
          <ul class="nav">
            <!------------------------------------------------------------------>
            <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
              <ul class="app-menu list-unstyled accordion" id="menu-accordion">
                <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                    <li class="nav-item has-submenu">
                      <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                      <a class="nav-link submenu-toggle" href="#"
                        data-toggle="collapse" data-target="#submenu-2"
                        aria-expanded="false" aria-controls="submenu-2">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
  <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
</svg>
                        </span>
                        <span class="nav-link-text">Capitulos</span>
                        <span class="submenu-arrow">
                          <svg width="1em" height="1em" viewBox="0 0 16 16"
                            class="bi bi-chevron-down" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8
                              10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0
                              0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                          </span>
                          <!--//submenu-arrow-->
                        </a>
                        <!--//nav-link-->
                        <div id="submenu-2" class="collapse submenu submenu-2"
                          data-parent="#menu-accordion">
                          <ul class="submenu-list list-unstyled">
                            <li class="submenu-item"><a class="submenu-link"
                              href="{% url 'capitulos:lista'%}">Lista</a></li>
                            <li class="submenu-item"><a class="submenu-link"
                                href="{% url 'capitulos:nuevo'%}">Agregar</a></li>
                          </ul>
                        </div>
                      </li>
                      <!--//nav-item-->


                    </li>
                    <!--//nav-item-->
                    <li class="nav-item has-submenu">
                      <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                      <a class="nav-link submenu-toggle" href="#"
                        data-toggle="collapse" data-target="#submenu-3"
                        aria-expanded="false" aria-controls="submenu-3">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
  <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
</svg>
                        </span>
                        <span class="nav-link-text">Partidas</span>
                        <span class="submenu-arrow">
                          <svg width="1em" height="1em" viewBox="0 0 16 16"
                            class="bi bi-chevron-down" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8
                              10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0
                              0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                          </span>
                          <!--//submenu-arrow-->
                        </a>
                        <!--//nav-link-->
                        <div id="submenu-3" class="collapse submenu submenu-3"
                          data-parent="#menu-accordion">
                          <ul class="submenu-list list-unstyled">
                            <li class="submenu-item"><a class="submenu-link"
                              href="{% url 'partidas:lista'%}">Lista</a></li>
                            <li class="submenu-item"><a class="submenu-link"
                                href="{% url 'partidas:nuevo'%}">Agregar</a></li>
                          </ul>
                        </div>
                      </li>
                      <!--//nav-item-->

                      <!--    Inicio Item  1  -->
                    <li class="nav-item has-submenu">
                      <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                      <a class="nav-link submenu-toggle" href="#"
                        data-toggle="collapse" data-target="#submenu-4"
                        aria-expanded="false" aria-controls="submenu-4">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
  <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
  <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"/>
</svg>
                        </span>
                        <span class="nav-link-text">Presupuestos</span>
                        <span class="submenu-arrow">
                          <svg width="1em" height="1em" viewBox="0 0 16 16"
                            class="bi bi-chevron-down" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8
                              10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0
                              0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                          </span>
                          <!--//submenu-arrow-->
                        </a>
                        <!--//nav-link-->
                        <div id="submenu-4" class="collapse submenu submenu-4"
                          data-parent="#menu-accordion">
                          <ul class="submenu-list list-unstyled">
                            <li class="submenu-item"><a class="submenu-link"
                              href="{% url 'presupuestos:lista'%}">Lista</a></li>
                            <li class="submenu-item"><a class="submenu-link"
                                href="{% url 'presupuestos:nuevo'%}">Agregar</a></li>
                          </ul>
                        </div>
                      </li>
                    </li>
                    <!-- Fin Item  1-->

                      <!--    Inicio Item  2 -->
                      <li class="nav-item has-submenu">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link submenu-toggle" href="#"
                          data-toggle="collapse" data-target="#submenu-5"
                          aria-expanded="false" aria-controls="submenu-5">
                          <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar4-event" viewBox="0 0 16 16">
  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>
  <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
</svg>
                          </span>
                          <span class="nav-link-text">Actividades</span>
                          <span class="submenu-arrow">
                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                              class="bi bi-chevron-down" fill="currentColor"
                              xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8
                                10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0
                                0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                              </svg>
                            </span>
                            <!--//submenu-arrow-->
                          </a>
                          <!--//nav-link-->
                          <div id="submenu-5" class="collapse submenu submenu-5"
                            data-parent="#menu-accordion">
                            <ul class="submenu-list list-unstyled">
                              <li class="submenu-item"><a class="submenu-link"
                                href="{% url 'actividades:lista'%}">Lista</a></li>
                              <li class="submenu-item"><a class="submenu-link"
                                href="{% url 'actividades:nuevo'%}">Agregar</a></li>
                            </ul>
                          </div>
                        </li>
                      </li>
                      <!-- Fin Item 2-->


                        <!--    Inicio Item  3  -->
                    <li class="nav-item has-submenu">
                      <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                      <a class="nav-link submenu-toggle" href="#"
                        data-toggle="collapse" data-target="#submenu-6"
                        aria-expanded="false" aria-controls="submenu-6">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
  <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
  <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/>
</svg>
                        </span>
                        <span class="nav-link-text">Gastos</span>
                        <span class="submenu-arrow">
                          <svg width="1em" height="1em" viewBox="0 0 16 16"
                            class="bi bi-chevron-down" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8
                              10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0
                              0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                          </span>
                          <!--//submenu-arrow-->
                        </a>
                        <!--//nav-link-->
                        <div id="submenu-6" class="collapse submenu submenu-6"
                          data-parent="#menu-accordion">
                          <ul class="submenu-list list-unstyled">
                            <li class="submenu-item"><a class="submenu-link"
                              href="{% url 'gastos:lista'%}">Lista</a></li>
                            <li class="submenu-item"><a class="submenu-link"
                              href="{% url 'gastos:nuevo'%}">Agregar</a></li>
                          </ul>
                        </div>
                      </li>
                    </li>
                    <!-- Fin Item  3 -->
                    <!--    Inicio Item  4  -->
                    <li class="nav-item has-submenu">
                      <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                      <a class="nav-link submenu-toggle" href="#"
                        data-toggle="collapse" data-target="#submenu-7"
                        aria-expanded="false" aria-controls="submenu-7">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet-fill" viewBox="0 0 16 16">
                          <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v2h6a.5.5 0 0 1 .5.5c0 .253.08.644.306.958.207.288.557.542 1.194.542.637 0 .987-.254 1.194-.542.226-.314.306-.705.306-.958a.5.5 0 0 1 .5-.5h6v-2A1.5 1.5 0 0 0 14.5 2h-13z"/>
                          <path d="M16 6.5h-5.551a2.678 2.678 0 0 1-.443 1.042C9.613 8.088 8.963 8.5 8 8.5c-.963 0-1.613-.412-2.006-.958A2.679 2.679 0 0 1 5.551 6.5H0v6A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6z"/>
                        </svg>
                        </span>
                        <span class="nav-link-text">Fondos Revolventes</span>
                        <span class="submenu-arrow">
                          <svg width="1em" height="1em" viewBox="0 0 16 16"
                            class="bi bi-chevron-down" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8
                              10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0
                              0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg>
                          </span>
                          <!--//submenu-arrow-->
                        </a>
                        <!--//nav-link-->
                        <div id="submenu-7" class="collapse submenu submenu-7"
                          data-parent="#menu-accordion">
                          <ul class="submenu-list list-unstyled">
                            <li class="submenu-item"><a class="submenu-link"
                              href="{% url 'fondo:lista_fondo'%}">Lista</a></li>
                            <li class="submenu-item"><a class="submenu-link"
                              href="{% url 'fondo:nuevo_fondo'%}">Agregar</a></li>
                          </ul>
                        </div>
                      </li>
                    </li>
                    <!-- Fin Item  4 -->

            
                    <li>
                      <a href="{% url 'actividades:traspaso'%}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                        </svg>
                        Traspasar saldo
                      </a>
                    </li>
                    <!--//nav-item-->
                  </ul>
                  <!--//app-menu-->
                </nav>




              </ul>
            </div>
          </div>



          <!--      Barra superior-->

          <div class="main-panel" id="main-panel">
            <nav class="navbar navbar-expand-lg navbar-transparent bg-primary
              navbar-absolute">
              <div class="container-fluid">
                <div class="navbar-wrapper">
                  <div class="navbar-toggle">
              
                  </div>
                  <a class="navbar-brand" href=""></a>
                </div>
               
                <div class="collapse navbar-collapse justify-content-end"
                  id="navigation">
                 
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="">
                        <p>
                        </p>
                      </a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle"
                        id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="now-ui-icons users_single-02"></i>
                        <p>
                        </p>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right"
                        aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'usuarios:logout'%}">Cerrar Session</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            <!-- End Navbar -->
            <div class="panel-header panel-header-sm">
            </div>
            <!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
            <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
            <script src="{% static 'js/popper.min.js' %}"></script>

            <script src="{% static 'js/bootstrap.min.js' %}"></script>

            <!-- Charts JS -->
            <script src="{% static 'js/chart.min.js' %}"></script>

            <!-- Page Specific JS -->
            <script src="{% static 'js/app.js' %}"></script>
          </body>

        </html>

        {% block contenido %}

        {% endblock contenido %}

        {% block js %}

        {% endblock js %}