<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Capítulos</title>
</head>
<body>
    <h1>Listado de Capítulos</h1>
    <table>
        <tr>
            <th>Clave</th>
            <th>Nombre</th>
            <th>Opciones</th>

        </tr>
        {% for capitulo in capitulos %}
        <tr>
            <td>{{capitulo.clave}}</td>
            <td>{{capitulo.nombre}}</td>
            <td>
                <a href="{% url 'capitulos:eliminar' capitulo.clave %}">Eliminar</a>
                <a href="{% url 'capitulos:editar' capitulo.clave %}">Modificar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>