{% extends 'base.html' %}

{% block title %}Lista Capitulos{% endblock %}

{% block content %}
    <h1>Listado de Capítulos</h1>
    <table>
        <tr>
            <th>Clave</th>
            <th>Nombre</th>
            <th>Opciones</th>

        </tr>
        {% for capitulo in capitulos %}
        <tr>
            <td>{{capitulo.clave}}</td>
            <td>{{capitulo.nombre}}</td>
            <td>
                <a class="btn btn-danger", href="{% url 'capitulos:eliminar' capitulo.clave %}">Eliminar</a>
                <a href="{% url 'capitulos:editar' capitulo.clave %}">Modificar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}