{% extends 'base.html' %}

{% block title %}Lista Partidas{% endblock %}

{% block content %}
<div class="container-fluid">
<h1>Listado de Partidas</h1>
<table class="table">
    <tr>
        <th>Clave</th>
        <th>Nombre</th>
        <th>Capítulo</th>
        <th>Descripción</th>
        <th>Opciones</th>
    </tr>
    {% for partida in partidas %}
    <tr>
        <td>{{partida.clave}}</td>
        <td>{{partida.nombre}}</td>
        <td>{{partida.capitulo}}</td>
        <td>{{partida.descripcion}}</td>
        <td>
            <a class="btn btn-danger" href="{% url 'partidas:eliminar' partida.clave %}">Eliminar</a>
            <a class="btn btn-primary" href="{% url 'partidas:editar' partida.clave %}">Modificar</a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}